.moviesListContainer {
  margin: 20px 70px;
}
.moviesList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.title {
  font-size: 22px;
  color: #4a4a4a;
  text-align: left;
}

.underlined {
  margin-top: -5px;
}
