.movie-item {
  margin: 0px 10px;
  width: 280px;
}
.movie-item .image {
  height: auto;
  width: 280px;
  border-radius: 3px;
  cursor: pointer;
  transition: transform 0.2s;
}
.movie-item .image:hover {
  transform: scale(1.3);
  transition-duration: 500ms;
  transition-delay: 0ms;
}
.movie-item .movie-info {
  display: flex;
}
.movie-item .name,
.movie-item .vote {
  margin-top: 10px;
  font-weight: 500;
  color: #4c4c4c;
}
.movie-item .name {
  text-align: left;
  width: 90%;
}
.movie-item .vote {
  font-weight: bold;
  text-align: right;
}
