.navbar {
  background-color: #565c63 !important;
}

.navbar-brand {
  color: #e5e03a !important;
  text-shadow: 0.1px 0.1px #000000ad !important;
}

.icon-brand {
  color: white;
  font-size: 30px;
  margin-right: 5px;
}
